#form{
    
    border: solid 1px rgb(216, 207, 207);
    border-radius: 5%;
}

#activeTask, #chartArea{
    height: 400px;
    /* background-color: rgb(220, 236, 231); */
    margin:5px;
}

.completedTask {
    text-decoration: line-through;
    color:gray;
    
}


