#form{
    
    border: solid 1px rgb(216, 207, 207);
    border-radius: 5%;
}

#activeTask, #chartAreaActive,#chartAreaCompleted{
    height: 450px;
    /* background-color: rgb(220, 236, 231); */
    margin:5px;
}

.completedTask {
    text-decoration: line-through;
    color:rgb(219, 208, 208);
}

.border{
    color:rgb(148, 145, 145);
    border-width: 3px;
}


